<html>

  <head>

    <title><% locals.title %></title>

    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="/dist/css/index.css">

  </head>

  <body>

    <div id="main">
      <div id="darker">
    </div>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/gsap/src/minified/TweenMax.min.js"></script>
    <script type="text/javascript" src="/bower_components/gsap/src/minified/TimelineLite.min.js"></script>

    <script type="text/javascript" src="/dist/js/index.js"></script>

  </body>

</html>